    body {
      background-color: #111;  
      color: #0f0;           
      font-family: monospace; 
      white-space: pre;       
      padding: 2rem;
    }

    a {
      color: #0f0;
      text-decoration: none;
      font-weight: bold;
    }

    a:hover {
      color: #ff0;
    }